.head{
    width: 68vw;
    border-radius: 0px;
    font-size: 30px;
    padding-left: 50px;
    border-radius: 20px;
}
.rank{
    width: 62vw;
    margin-top: 30px;
    background-color: rgb(0, 0, 0 ,0.9);
    color: white;
    text-decoration: none;
    /* font-size: 18px; */
    font-weight: bold;
    text-shadow: 2px 2px black;
    /* padding: 5px 50px 50px 50px; */
}
.rank img{
    height: 27vh;
    width: 13vw;
    padding: 20px 25px 10px 25px;
}
.rank a{
    color: white;
    text-decoration: none;
    font-size: 26px;
    text-shadow: 2px 2px black;
    padding-left: 0px;
}
.rank a:hover{
    font-size: 28px;
    color: yellow;
    /* text-shadow: 6px 6px black; */
    text-decoration: underline;
}
td{
    font-size: 26px;
    border-bottom: 2px solid white;
}
td :first-child{
    height: 27vh;
    width: 13vw;
    padding: 20px 10px 10px 65px;
}
td :nth-child(2){
    padding-left: 0px;
    width: 20vw;
}